body{
  font-size: roboto;
  font-family: sans-serif;
  background-image: linear-gradient(to bottom right,#0087af, #87875f);
  margin-bottom: 600px;
}

.epikefalida {
  position: sticky;
  top: 0;
}
.times {
  margin-bottom: 40px;
}
/*input { color: #fff;
  cursor: pointer;
  font-size:20px;
  font-weight:bold;}*/

.h2 {
		color: #fff;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}
.submit {  background-image: linear-gradient(to bottom,darkred, #550606);
  									color: #fff;
  									border: 1px solid #333;
  									border-radius: 4px;
  									cursor: pointer;
}
.bold{
  font-weight: bold;
}

.desfa{
  display: flex;
}
.Heading2 {

  margin-top: 30px;
}
a{
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  color: #fff;
  /*background-color: darkred;*/
  background-image: linear-gradient(to bottom,darkred, #550606);
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
}
a:hover{
  background-image: linear-gradient(to bottom,#550606, darkred);
}
td{
    text-align: center;
    border: 1px solid #333;
    border-radius: 4px;
    padding :0.5rem;
    margin: 0.5rem;
    width: 180px;
}
p{font-size: 13px;
text-decoration: underline;}
 .times td:hover{
  color: #222;

  text-shadow: 0 0 2px yellow;
	font-weight: bold;
  transform: scale(1.2);
  border:none;
}
.epikefalida tr:nth-child(1)  {

        background: olive !important;
        color: #fff !important;
        font-size: 15px !important;
        font-weight: bold;
        height: 30px;
        border: 1px solid #999;
        border-radius: 4px;

    }

.times tr:nth-child(1)  {
        display: none;
        background: olive !important;
        color: #fff !important;
        font-size: 15px !important;
        font-weight: bold;
        height: 20px;
        border: 1px solid #999;
        border-radius: 4px;
        margin-right:inherit;
    }

tr:nth-child(even){
      background: lightskyblue;
    }
tr:nth-child(odd){
      /*color: white;*/
      background: DarkSeaGreen;
    }
